.title_form {
    text-align: center;
    padding: 30px 5px 0px 15px
}

.title2 {
    font-weight: 800;
    font-size: 30px;
}

label {
    color: gray;
}

form {
    height: 100%;
}

.form-input {
    padding-top: 30px;
}

.remember {
    padding-top: 20px
}

.btn-div {
    text-align: center;
    padding-top: 20px;
}

.card {
    margin-top: 10%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-body {
    background-color: whitesmoke;
    padding: 0;
}

.btn {
    width: 100%;
}

.logo {
    /* background-size: cover; */
    background-image: url('../dist/img/sti.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.content_body {
    margin-right: 0;
}

/* html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
} */

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown-item {
    display: inline;
}

body {
    /* overflow-y: hidden; */
}
.links {
    text-align: end;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hide {
    display: none;
}

.pass {
    margin-top: 5%;
}

.main-form {
    height: 40px;
}