.oee-chart {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    padding: 0.5rem;
    height: 100%;
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        .title {
            text-transform: capitalize;
            font-size: 0.9rem;
            font-weight: 500;
            line-height: 1;
        }
        .chart {
            flex-grow: 1;
        }
    }
}