.report {
    display: flex;
    flex-direction: column;
    height: 100%;
    .tabs {
        z-index: 1;
    }
    .content {
        flex-grow: 1;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}