.timeline-chart {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    padding: 0.5rem;
    .title {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        text-transform: capitalize;
    }
    .chart {
        height: 500px;
    }
}