PORT=6969
SOCKET_CORS_ORIGIN=http://localhost:8000,http://127.0.0.1:8000,http://192.168.1.103:8000

SQLSRV_HOST=192.168.1.22
SQLSRV_PORT=1433
SQLSRV_DATABASE=STI_NIDEC
SQLSRV_USERNAME=sti
SQLSRV_PASSWORD=66668888